<ion-content class="ion-padding">
  <div class="header">
    <h1>Register</h1>
    <p>Create account to explore more</p>
  </div>

  <form [formGroup]="form">
    <div>
      <ion-label>Name</ion-label>
      <ion-input class="input" formControlName="name" placeholder="Your Name"></ion-input>
    </div>
    <div>
      <ion-label>Email</ion-label>
      <ion-input class="input" type="email" formControlName="email" placeholder="Your Email"></ion-input>
    </div>
    <div>
      <ion-label>Password</ion-label>
      <ion-input class="input" formControlName="password" type="password" placeholder="Your Password"></ion-input>
    </div>
    <ion-button class="full" expand="block" [disabled]="form.invalid" (click)="onRegister()">Register</ion-button>
  </form>

  <ion-button expand="block" fill="clear" routerLink="/login">I have Account</ion-button>
</ion-content>